PYTHONPATH=/usr/src/app/projects/lifesat/src/api/:/usr/src/app/projects/lifesat/src/
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
PROJECT=lifesat
SERVE_PORT=8080
S3_BUCKET=<FILL_THIS>
AWS_ACCESS_KEY_ID=<FILL_THIS>
AWS_SECRET_ACCESS_KEY=<FILL_THIS>
